<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/root.css" />
    <title>Main Page</title>
  </head>
  <body>
    <form class="container" action="/" method="POST">
      <h1 class="row filter">Filter By</h1>
      <div class="row">
        <button
          class="filterButton"
          type="submit"
          formaction="/filter?order=asc"
        >
          Asc</button
        ><button
          class="filterButton"
          type="submit"
          formaction="/filter?order=dsc"
        >
          Dsc
        </button>
      </div>
    </form>
    <%- include('../partials/nav')%>
    <div class="container display">
      <h1>Sighting List</h1>
      <div class="row heading">
        <span class="col-3">Date</span>
        <span class="col-3">Shape</span>
        <span class="col-3">City</span>
      </div>
      <%favourite.forEach((element)=>{%>
      <div class="row fav">
        <p class="col-3"><%=element.date_time%></p>
        <p class="col-3"><%=element.shape%></p>
        <p class="col-3"><%=element.city%></p>
      </div>
      <%})%> <%sightings.forEach((element,index)=>{%>
      <form action="/<%=index%>?_method=DELETE" method="POST">
        <div class="row">
          <p class="col-3"><%=element.date_time%></p>
          <p class="col-3"><%=element.shape%></p>
          <p class="col-3"><%=element.city%></p>
          <input class="col-2" type="submit" value="Delete" />
          <input
            class="col-1"
            type="submit"
            formaction="/fav?favIndex=<%=index%>"
            value="fav"
          />
        </div>
      </form>
      <%})%>
    </div>
  </body>
</html>
